.best {
  background: url(../../images/content/section2.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}


/* .best__content{
//   margin: 0 auto;
// }*/

.best__content {
  position: relative;
  top: 30px;
  text-align: center;
}

.best__text {
  font-size: 71.713px;
  font-family: "Gagalin";
  color: rgb(47, 50, 52);
  line-height: 0.889;
  padding-top: 80px;
  margin-bottom: 90px;
}

.advantage{
  width: 30%;
  float: left;
}

.advantage__img {
  margin-bottom: 34px;
  vertical-align: bottom;
}

.advantage__title {
  font: 24.12px/24.12px "Lifehack";
}

.advantage__text {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714;
}