$yellow: #eb8d38;
$red: #e35028;
.burgers {
  // background: linear-gradient(to top, #f9b43b, #eb8d38, #f9b43b);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8b23b+0,ec9038+38,ec9038+66,f8b23b+100 */
  background: #f8b23b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8b23b 0%, #ec9038 38%, #ec9038 66%, #f8b23b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f8b23b 0%, #ec9038 38%, #ec9038 66%, #f8b23b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f8b23b 0%, #ec9038 38%, #ec9038 66%, #f8b23b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b23b', endColorstr='#f8b23b', GradientType=0);
  /* IE6-9 */
  background-size: cover;
  position: relative;
}

.content__burgers__left {
  margin-top: 70px;
  float: left;
  width: 470px;
}

.content__left_table {
  display: block;
  position: absolute;
  top: -20px;
  left: 50px;
  background: rgba(227, 80, 40, 0.4);
  width: 90px;
  height: 90px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 100;
  &:hover {
    background-color: rgb(227, 80, 40);
  }
  &:hover .content__consistency_dropdown {
    left: 100%;
    opacity: 1;
  }
}

.content__consistency_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content__consistency_pic {
  display: block;
}

.content__consistency_pic-icon {
  height: 50px;
  fill: #fff;
}

.content__consistency_ingtidients_text {
  color: #fff;
  font-size: 14px;
  font-family: 'gagalinregular';
}

.content__consistency_dropdown {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 100%;
  width: 270px;
  border-radius: 7px;
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 5;
}

.consistency__table_pole {
  vertical-align: middle;
  padding: 8px 0;
}

.consistency__table_pic_img {
  max-width: 45px;
  max-height: 50px;
  display: inline-block;
}

.content__burgers__right {
  margin-top: 50px;
  width: 470px;
  float: right;
  padding-left: 30px;
}

.section__title_white-burgers {
  position: static !important; 
    margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 71.713px;
  font-family: "Gagalin";
  color: rgb(255, 255, 255);
  line-height: 0.889;
  text-align: left;
}

.content__burgers_text p {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  line-height: 1.714;
  text-align: left;
}

.content__burgers_price {
  float: left;
}

.burger__price {
  display: inline;
  font-size: 72px;
  font-family: "Gagalin";
  color: rgb(227, 80, 40); // line-height: 0.39;
}

.burger__price_text {
  display: inline;
  font-size: 30px;
  font-family: "Gagalin";
  color: $red;
}

.content__burgers_oredr {
  display: inline;
  margin-left: 30px;
}

.order__form_button {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  background: #e45028;
  padding: 10px 16px;
  transition: all 0.3s;
  text-decoration: none;
  list-style-type: none;
  margin-left: 30px;
  border: 0;
  cursor: pointer;
}

.burger__weight {
position: absolute;
    top: 400px;
    left: 50px;
  opacity: .5;
}

.burger__weight_measure {
  background: url(../../icons/kkal.svg) 50% no-repeat;
  width: 65px;
  height: 60px;
  position: relative;
}

.burger__weight_amount {
  position: absolute;
bottom: 11px;
    left: 2px;
    right: 0;
  text-align: center;
  font-size: 20px;
  font-family: "Gagalin";
  color: #fff;
  line-height: 1.2;
}

.burger__weight_title {
  position: absolute;
  left: 16px;
  // text-align: center;
font-size: 14px;
  font-family: "Gagalin";
  color: #fff;
  line-height: 1.714;

}

.clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}