.map {
  position: relative; }

.yandex__map {
  height: calc(100% - 60px); }

.footer {
  background: url(../../images/content/section8footer.jpg) no-repeat center bottom;
  height: 60px;
  background-size: cover;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0; }

.footer__left,
.footer__right {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  float: left; }

.footer__left {
  text-align: left; }

.footer__right {
  text-align: right; }

.footer__address {
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  line-height: 24px;
  color: #fff; }

.footer__phone {
  color: #e45028;
  font-family: 'Ubuntu-Bold';
  font-size: 14px;
  line-height: 24px;
  text-decoration: none; }

.socials {
  text-align: right;
  font-size: 0; }

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; }

.socials__link {
  display: inline-block;
  padding-top: 10px;
  opacity: .3;
  -webkit-transition: .3s;
  transition: .3s; }
  .socials__link:hover {
    opacity: 1; }

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #5a5a5a;
  transition: .3s; }
  .socials__icon:hover {
    fill: #fff; }

.socials__icon_vk {
  width: 20px;
  height: 20px; }

.clearfix::after, .clearfix::before {
  content: "";
  display: table;
  clear: both; }
