$yellow: #f9b43b;
$orange: #e45028;

.team {
	background: url(../../images/content/section4.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.team__section {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	background: rgba(#2f3234, .93%);
	padding: 0px 95px 0px 75px;
}


.section__title_yellow {
	margin-top: 110px;
	margin-bottom: 90px;
	color: $yellow;
}

.team-acco__trigger {
	margin-bottom: 20px;
	color: #fff;
	font-size: 14px;
	font-family: "Gagalin";
	text-decoration: none;
	position: relative;
	display: block;

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: -19px;
		top: 8px;
		width: 0;
		height: 0;
		border-top: 7px solid $yellow;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 0 solid transparent;
		transform: rotate(0deg);
		transition: 300ms;
	}
}

// .team-acco__item:hover{

// 	.team-acco__trigger {
// 		color: $yellow;
// 		&:before {
// 			transform: rotate(-180deg);
// 		}
// 	}
// 		.team-acco__content {
// 		display: block;
// 	}
// }

.team-acco__item_active {
	.team-acco__trigger {
		color: $yellow;
		&:before {
			transform: rotate(-180deg);
		}
	}
		.team-acco__content {
		display: block;
	}
}


.team-acco__content {
	padding-bottom: 14px; //  
	display: none;
}

.team-acco__pic {
	float: left;
	text-align: center;
	width: 30%;
}

.team-acco__img {
	// @include inlineblock();
	display: inline-block;
	width: 100px;
	height: 100px; // @include cover;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
}

.team-acco__text {
	float: left;
	width: 60%;
	margin-left: 20px;
}

.team-acco__title {
	font-family: "Ubuntu";
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	margin-bottom: 20px;
}

.team-acco__text-content {
	font-family: "Ubuntu(light)";
	color: #fff;
	font-size: 14px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}