.team {
  background: url(../../images/content/section4.jpg) no-repeat;
  background-size: cover;
  position: relative; }

.team__section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding: 0px 95px 0px 75px; }

.section__title_yellow {
  margin-top: 110px;
  margin-bottom: 90px;
  color: #f9b43b; }

.team-acco__trigger {
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  display: block; }
  .team-acco__trigger:before {
    content: "";
    display: block;
    position: absolute;
    left: -19px;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 7px solid #eb8d38;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0 solid transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 300ms; }

.team-acco__item_active .team-acco__conten {
  display: block; }

.team-acco__item_active .team-acco__trigger {
  color: #eb8d38; }
  .team-acco__item_active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-acco__content {
  padding-bottom: 14px; }

.team-acco__pic {
  float: left;
  text-align: center;
  width: 30%; }

.team-acco__img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover; }

.team-acco__text {
  float: left;
  width: 60%; }

.team-acco__title {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin-bottom: 14px; }

.team-acco__text-content {
  color: #fff;
  font-size: 14px; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }
